/* @override 
  http://planetoftheweb.com/_/css/styles.css */

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Almendra+SC" rel="stylesheet");
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  /*background-color: #000000; 
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #023E54, #10AAC0); 
  background-image: -moz-linear-gradient(top, #023E54, #10AAC0);
  background-image: -o-linear-gradient(top, #023E54, #10AAC0);*/
  background-image: url('../images/bat.jpg');
  background-size: 100%;
  /*min-height: 100%;
  height: auto;*/
}

body  {
  font-family: Merriweather, serif;
  font-size: 1rem;
  line-height: 160%;
  *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Almendra SC', serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px #ffffff;
}

a {
  color: #145266;
  font-family: Bree Serif, serif;
}

h1{
  color: #145266;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #c61c6f;
}

h4{ 
  font-size: 20px;
  line-height: 90%;
  color: #063642;
}

h3{ 
  margin-top: 0;
  color: #bd3613;
  line-height: 110%;
  margin-bottom: 5px;
}

p {
  line-height: 1.3rem;
  color: #475B62;
  margin-bottom: 10px;
  font-family: 'Merriweather';
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}


/* Search Styles */

.search {
  background: #063642;
  color: #EEE8D5;
  width: 90%;
  min-width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 20;
  float: Center;
    text-align: right;
}

.search a{
    background: #787676;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
    box-shadow: 5px 5px 5px 0px #69868d;
    transition: all .1s ease-in-out;
}

.search a:hover{
    transform: scale(1.05);
}

.search h1 {
  color: #EEE8D5;
  text-align: left;
}

.search h2 {
    float: left;
    color: #EEE8D5;
    text-align: left;    
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
    background: #09576D;
}

.search label {
  display: inline;
  font-size: 12px;
}

.search input {
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  outline: 0;
}

.search .formgroup input {
  border: 1px solid rgba(0,0,0,0.3);
  display: inline;
  width: auto;
  font-size: 12px;
}

.search label.formgroup {
  display: inline-block;
  width: auto;
  font-size: 12px;
}

.search select {
  display: inline;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  outline: 0;
  font-size: 12px;
}

/* movie List Styles */

.movielist {
  background: #C4D2D3; 
  float: left;
  width: 50%;
  min-width: 250px;
  max-width:300px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
  position: absolute;
  left: 50%;
}

.movielist ul {
  margin: 0;
  padding: 0;
  background: #FDF6E3;
}

.movielist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px dotted black;
  opacity: .9;
    position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.movielist a {
  display: block;
  text-decoration: none;
}

.movielist li:hover {
  background: #CDE4E6;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.movie img {
  display: block;
  float: left;
  width: 60px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.movie info {
  display: block;
  padding-left: 120px !important;
}

.info{
    display: inline-block;
    float: left;
}
.movie information{
    display: inline-block;
    color: brown;
}


.movie:last-child {
  border-bottom:none;
}

.movieinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
  height: auto;
  opacity: 0.95;
}

.movieinfo h1{
  font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
  text-shadow: 1px 1px 3px #5D6A75;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0;
}

.movieinfo img {
  padding-top: 5px;
  width: 40%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px grey;
}

.movie.ng-enter.ng-enter-active,
.movie.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.movie.ng-leave.ng-leave-active,
.movie.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.main-content{
  background: #063642;
  color: #EEE8D5;
  width: 90%;
  min-width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 30px 5%;
  z-index: 20;
  height: 300vh;
}

.image-wrapper{
  float: left;
  width: 230px;
  max-height:350px;
  background-color: #EEE8D5;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.90;
  
}

.poster-display{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #787676;
  transition: all .1s ease-in-out;
}

.poster-display:hover { 
  transform: scale(1.05);
  opacity: 0.5;
}

.poster-detail{
  font-family:  Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
  font-weight: bold;
  color: darkslategrey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    text-overflow: ellipsis;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: brown;
    border-radius: 6px;
    position: absolute;
    font-size: 14px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.poster-detail-tooltip {
    position: relative;
    display: inline-block;
    font-size: x-small;
    width: 100%;
}
.poster-detail-tooltip .poster-detail-tooltiptext {
    display: inline-block;
    width: 100%;
    visibility: hidden;
    background-color: black;
    color: aliceblue;
    border-radius: 6px;
    z-index: 1;
    font-family: Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
    font-size: x-small;
}

.poster-detail-tooltip:hover .poster-detail-tooltiptext {
    visibility: visible;
}

.moviepage a{
  float: left;
  font-family: Bree Serif, serif;
  color: #EEE8D5;
  text-decoration: none;
  
}

.main-content .image-wrapper:hover figcaption {
    opacity: 1;
}

figure figcaption .rating{
    margin-bottom: 20px;
}

figure figcaption h4 {
    font-size: large;
    position: relative;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: bold;
    color: #000000;
}

figcaption {
    color: white;
    height: 100%;
    left: 0;
    opacity: 1;
    position: relative;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    padding-top: 20px;
}